@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: #25523B;
    color:white;
}

/* headers and logos */

h1, h2 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
}

#logo {
    float: left;
    font-size: 250%;
    color:#62BD69;
}

/* navigation links */

#navigation, #logo {
    line-height: 75px;
}

#navigation {
    font-size: 110%;
    letter-spacing: 5px;
}

#navigation li {
    float:right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    border-bottom: 1px solid white;
}